@import url("fonts/Open Sans/stylesheet.css");
/* ################################################
             	   Colors
################################################# */
/* ################################################
             	   Mixins
################################################# */
/* ################################################
                General Settings
################################################# */
a {
  color: #1cbbb4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

.clear {
  clear: both; }

.noMarginLeft {
  margin-left: 0 !important; }

.noMarginRight {
  margin-right: 0 !important; }

.noMarginTop {
  margin-top: 0 !important; }

.noMarginBottom {
  margin-bottom: 0 !important; }

.hideElement {
  display: none; }

/* ################################################
                    Page Layout
################################################# */
body {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: "Open Sans";
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0; }

code {
  background-color: #eee;
  color: black;
  padding: 0.4em; }

blockquote {
  font-style: italic;
  width: 100%;
  background-color: white;
  border: 1px solid #f6f6f6;
  text-align: center;
  margin: 0;
  padding: 2em 0; }
  blockquote b {
    width: 100%;
    display: block; }
  blockquote.quote {
    background-color: #f6f6f6; }
    blockquote.quote img, blockquote.quote p {
      margin: 1em auto;
      display: block; }

.col {
  width: 50%;
  padding: 0 5%;
  display: table-cell; }

nav#nav-container {
  background-color: #f6f6f6;
  border-bottom: 1px solid #d7dddd;
  text-align: center;
  height: 90px;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 5%; }
  nav#nav-container img {
    display: block;
    float: left; }
  nav#nav-container ul {
    float: right;
    margin: 1.6em 0; }
    nav#nav-container ul li {
      display: inline;
      list-style: none;
      padding-left: 1.5em;
      font-size: 0.8em;
      font-weight: lighter; }
      nav#nav-container ul li a {
        color: black; }
        nav#nav-container ul li a:hover {
          color: #1cbbb4; }

main {
  display: block;
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0; }

section {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #d7dddd; }
  section > span {
    position: relative;
    top: -90px;
    display: block;
    width: 1px;
    height: 1px; }
  section div {
    padding: 4em 5%;
    overflow: hidden;
    width: 100%;
    margin: auto; }
  section.lightGreen {
    background-color: #d7f8f7; }
  section.lightBlue {
    background-color: #dadee5; }
  section.darkGrey {
    background-color: #333333;
    color: white;
    border-bottom: 1px solid #333333; }
  section.black {
    background-color: black;
    color: white; }
  section.green {
    background-color: #1cbbb4;
    color: white;
    border-bottom: 1px solid #1cbbb4; }
  section li {
    padding-bottom: 1em; }
  section img.mobile {
    display: none; }

.right {
  float: right;
  margin-left: 20px; }

.left {
  float: left;
  margin-right: 20px; }

.howto {
  display: block;
  margin: 2em auto;
  clear: both;
  max-width: 600px;
  width: 80%; }

.code {
  font-family: Courier;
  font-size: 6em;
  text-align: center;
  padding: 2em 5%; }
  .code.green {
    background-color: #1cbbb4;
    color: white; }

#footer {
  padding: 2em 0 0 0;
  text-align: center; }
  #footer div {
    padding: 0 5% 3em;
    text-align: center;
    font-size: 0.8em; }
  #footer a {
    color: #1cbbb4; }
