<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/mediaqueries.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
     
  </head>
  <body>
      <!--header  class="">
        <img src="img/emacs-title-new.png" alt="Emacs is sexy!"/>
      </header-->
      <nav id="nav-container">
        <img src="img/emacs-title-new2_@2X.png" alt="Emacs is sexy!"/>
        <ul>
          <li><a href="#description" title="Description">Description</a></li>
          
          <li><a href="#_why" title="Why Emacs?">Why Emacs?</a></li>
          <li><a href="#installing" title="Installing Emacs">Installing Emacs</a></li>
          <li><a href="#learn" title="Learn Emacs">Learn Emacs</a></li>
          <li><a href="#resources" title="Resources">Resources</a></li>
          <li><a href="#be-free" title="Be free">Be free</a></li>
        </ul>
      </nav>
      <main>
      {{ content }}

        <section id="footer" class="black">
          <div>
            Website created
            by <a href="http://picandocodigo.net">picandocodigo</a>. This is a
            work in progress, please help me improve it by forking
            it <a href="https://github.com/picandocodigo/emacs.sexy">on
              GitHub</a>.
          </div>
        </section>
      </main>
      <script src="js/smoothscroll.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-2107177-12', 'emacs.sexy');
        ga('send', 'pageview');


      </script>
     
  </body>
</html>
<!-- Ctrl X Ctrl S -->
<!-- Ctrl X Ctrl C -->
